// Place all the styles related to the Reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fc-event {
  color: #049CDB;
}
select {
  clear: right;
  margin-top: 20px;
  margin-bottom: -15px;
  width: 180px;
}
.modal-form {
  width: 500px;
}
.modal-form input {
  width: 100%;
}
.modal-form textarea {
  width: 100%;
}
.delete_btn {
  float: left;
}