#legendPopup {
  position: relative;
  width: 20%;
  left: 40%;
  margin-top: 10px;
}
.popover-content td {
  width: 130px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.fc-event {
  color: #049CDB;
}
select {
  clear: right;
  margin-top: 20px;
  margin-bottom: -15px;
  width: 180px;
}
.modal-form {
  width: 500px;
}
.modal-form input {
  width: 100%;
}
.modal-form textarea {
  width: 100%;
}
.delete_btn {
  float: left;
}
.delete_loader_img {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
}
.edit_loader_img {
  margin-right: 5px;
}
.eventRegisterBox {
  padding-top: 50px;
}
#eventSelect {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
#eventForm {
  margin-top: 20px;
}
#newEventButton {
  margin-top: 0px;
}
#groupEditForm textarea {
  width: 400px;
  height: 100px;
}