%h2 Plugins
%table{:class => 'table'}
  %thead
    %tr
      %th Plugin Title
      %th Filename
      %th 
  %tbody
    %tr
      - @plugins.each do |plugin|
        %td= plugin.title
        %td= plugin.filename
        %td= link_to "Edit this plugin", plugin_descriptor_path(plugin)

= link_to "New Plugin", new_plugin_descriptor_path, {:class => 'btn btn-primary'}