-#  This file is app/views/groups/index.html.haml
%h1 All Groups

%table{:id => 'groups', :class => 'table'}
  %thead
    %tr
      %th Group Name
      %th Visit Group Page 
  %tbody
    - @groups.each do |group|
      - if !@group.private
        %tr
          %td= group.name 
          %td= link_to "More about #{group.name}", group_path(group)

= link_to 'Create New Group', new_group_path, {:class => 'btn btn-primary'}
