%h2 API Keys
%table{:class => 'table'}
  %thead
    %tr
      %th Role
      %th API key
  %tbody
    - @keys.each do |key|
      %tr
        %td= key.role
        %td= key.access_token
        - if key.role == 'mailer'
          %td
            = link_to 'Delete Key', api_key_path(key.id), :method => 'delete', :class => 'btn btn-danger'
        - else
          %td 

= link_to 'New Bot Key', new_api_key_path, :class => 'btn btn-primary'